<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net40" />
  <package id="NEventStore" version="6.0.0-newcommitpolling0001" targetFramework="net40" />
  <package id="NEventStore.Persistence.MongoDB" version="5.0.0.103" targetFramework="net40" />
</packages>